.confirm-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  
  > * {
    width: 100%;
    margin-top: 1em;
  }

  .confirm-message {
    text-align: center;
    font-weight: bold;
  }

}
