.driver-route {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 350px;
  padding: 0.5em;
  border: 0.2em solid #dddddd;
  border-radius: 0.4em;
  background-color: lightblue;
}


.path-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5em;
  border: 0.2em solid #dcdcdc;
  border-radius: 0.15em;
  overflow: auto;
  background-image: url("./images/hoffman.png");
  background-color: #f8f8ff;
  > * {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.place {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dcdcdc;
  border: 0.15em solid black;
  border-radius: 0.25em;
  padding: 0.5em;
  .place--number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    border: 0.15em solid black;
    border-radius: 100%;
    margin-right: 0.5em;
  }
  .place--description {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}