.movement-controller {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  padding: 0.5em;
  border: 0.2em solid #dddddd;
  border-radius: 0.4em;
  background-color: lightblue;
}

.button-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.25em;
  > * {
    margin-right: 0.25em;
  }
  &:last-child {
    margin-right: 0;
  }
}